<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="com.zeroc.Slice2JavaPlugin.Slice2javaBuilder"
         name="Slice2Java Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.zeroc.slice2javaplugin.builder.Slice2javaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.zeroc.Slice2JavaPlugin.Slice2javaNature"
         name="Slice2Java Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.zeroc.slice2javaplugin.builder.Slice2javaNature">
         </run>
      </runtime>
      <builder
            id="com.zeroc.Slice2JavaPlugin.Slice2javaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="Slice2javaPlugin.contribution1">
         <menu
               id="Slice2javaPlugin.menu1"
               label="%menu.label.0">
            <separator
                  name="Slice2javaPlugin.separator1">
            </separator>
         </menu>
         <visibility>
         	<objectState
                  name="projectNature"
                  value="com.zeroc.Slice2javaPlugin.Slice2javaNature">
            </objectState>
         </visibility>
         <action
               class="com.zeroc.slice2javaplugin.builder.ToggleNatureAction"
               enablesFor="*"             
               id="com.zeroc.Slice2javaPlugin.removeNatureAction"
               label="%action.label.0"
               menubarPath="Slice2javaPlugin.menu1/Slice2javaPlugin.separator1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="Slice2javaPlugin.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="Slice2javaPlugin.menu2"
               label="%menu.label.1">
            <separator
                  name="Slice2javaPlugin.separator1">
            </separator>
         </menu>
         <visibility>
         	<not>
            <objectState
                  name="projectNature"
                  value="com.zeroc.Slice2javaPlugin.Slice2javaNature">
            </objectState>
            </not>
         </visibility>
         <action
               class="com.zeroc.slice2javaplugin.builder.ToggleNatureAction"
               enablesFor="*"
               id="Slice2javaPlugin.addNatureAction"
               label="%action.label.1"
               menubarPath="Slice2javaPlugin.menu2/Slice2javaPlugin.separator1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="com.zeroc.slice2javaplugin.properties.ProjectProperties"
            id="slice2javaplugin.properties.samplePropertyPage"
            name="%page.name.0"
            objectClass="org.eclipse.core.resources.IProject">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" value="com.zeroc.Slice2javaPlugin.Slice2javaNature"/>
                </adapt>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.zeroc.slice2javaplugin.internal.IceClasspathContainerIntializer"
            id="com.zeroc.Slice2javaPlugin.ICE_FRAMEWORK">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.zeroc.slice2javaplugin.preferences.PluginPreferencePage"
            id="com.zeroc.slice2javaplugin.preferences.PluginPreferencePage"
            name="Slice2Java">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.zeroc.slice2javaplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
